    {{#if comentarios}}
    <h2>Comentarios</h2>
    <div id="comentarios">
        {{#each comentarios}}
            <p>User: {{this.user}}</p>
            <p>{{this.text}}</p>
            <hr/>
        {{/each}}
    </div> 
    {{/if}}    