<div class="header">
    <div class="navBar">
        <h5 style="display:inline">Este es el header</h5>
        <ul style="display:inline-flex">
            <li>Nav 1</li>
            <li>Nav 2</li>
            <li>Nav 3</li>
            <li>Nav 4</li>
            <li>Nav 5</li>
        </ul>
    </div>
</div>